/* Estilo para telas menores (máximo 768px) */
@media (max-width: 768px) {
  main {
      margin: 20px;
  }
  .imgesquerda {
    margin-left: 0%;
  }
  .flex-2p {
      text-align: center;
      order: 2;
  }
  .imgfundo {
      display: none;
  }
}

/* Estilo para dispositivos muito pequenos (máximo 480px) */
@media (max-width: 480px) {
  label {
      font-size: 14px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
      padding: 8px;
  }
  .bt-1,
  .bt-2 {
      padding: 8px 8px;
  }
}

/* Estilo para dispositivos pequenos (máximo 576px) */
@media (max-width: 576px) {
  h1 {
      font-size: 20px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
      font-size: 14px;
  }
}

/* Estilo para dispositivos médios (máximo 992px) */
@media (max-width: 992px) {
  main {
      margin-right: 20px;
  }
  .w-300 {
      width: 300px;
  }
  .flex-2p {
      order: 1;
  }
}

/* Estilo para o corpo da página */
body {
  height: 100%;
  width: 70%;
  padding: 20px;
  font-family: Arial, sans-serif;
  background:linear-gradient(#ffffff,#D9D9D9,#262E6D,#262E6D);
  color: #262E6D;

}

/* Estilo para a imagem do lado esquerdo */
.imgesquerda {
  width: 250px;
  display:left;
  position:relative;
  margin-top: -25px;
  margin-left: -25px;
}

/* Estilo para o formulário no lado direito */
main {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  position:absolute;
  box-shadow: 0 0 10px #262E6D;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para os campos de entrada e rótulos */
label {
  display:block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 96%;
  padding: 10px;
  border: none;
  background-color: #262E6D;
  color: #DCE9F6;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 0 10px #262E6D;

}

/* Estilo para os botões de cadastro e voltar */
.bt-1,
.bt-2 {
  background-color: #262E6D;
  color: #DCE9F6;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
}

.bt-1:hover,
.bt-2:hover {
  background-color: #0056b3;
}

.main {
  position:relative;
  margin-top: 140px;
}

.container {
    
  text-align: center;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 20px;
  margin: 0px;
  box-shadow: 0 0 10px #262E6D;
  margin-top: 50px;
  margin-left: 100px;
  position:absolute;
}
