* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background:linear-gradient(#ffffff,#D9D9D9,#262E6D,#262E6D) ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0px;
   
}


.logo {
  
  text-align: center;
  padding: 1px;
  display:flow-root; 
  align-items: center ; 
  position:fixed;
  
}


.fundo {
  
  width: 700px;
  max-width: 100%; 
  margin-left: 650px; 
  margin-top: 110px;
  position:relative;
  opacity: 20%;
  border-radius: 10px;

}

.img {
  width: 200px;
}


h1 {
  font-size: 32px;
  color: #262E6D;
  margin-top: 30px;
  margin-bottom: 30px;
}


@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center; 
      margin-block-end: 0px;
      position: absolute;
  }

  .fundo {
      margin-right: 0%; 
      margin-bottom: 5px;
      position: relative;
  }
}

h1 {
  font-size: 24px;
  color: #262E6D;
  margin-top: 10px;
}

.container {
  
  text-align: left;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 20px;
  margin: 0px;
  box-shadow: 0 0 10px #262E6D;
  margin-top: 170px;
  margin-left: 30px;
  position:absolute;
}

#bt_login {
  background-color: #262E6D;
  color: #DCE9F6;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  position:relative;
  top: 5px;
  margin-bottom: 1pc;
  height: 80%;

}

.button {
  width: 100%;
}
